#
# Contest 2026 demo88-nor board placeholder
#

if ARCH_BOARD_CUSTOM

config CONTEST2026_094_ANDY_BOARD_DEMO88_NOR
    bool "contest2026_094_andy demo88-nor"
    default y
    help
      Placeholder board entry for the custom D13X board tree.

endif
